.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.content{
    width: 95%;
    max-width: 837px;
    background-color: #fff;
    padding: 13px 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.list-layout{
    display: none;
}

@media(max-width: 800px){
    .table-layout{
        display: none;
    }

    .list-layout{
        display: block;
    }
}

