.table-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-content table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-content > table > thead{
    text-align: left;
    border-bottom: 1px solid #000;
    font-size: 18px;
}

.table-content > table > thead > tr > th{
    padding: 8px;
}

.table-content > table > thead > tr > th.checkbox{
    width: 16px;
}

.table-content > table > thead > tr > th.description{
    width: 50%;
}

.table-content > table > tbody{
    font-size: 16px;
}

.table-content > table > tbody > tr:nth-child(even){
    background-color: #F1F1F1;
}

.table-content > table > tbody > tr > td{
    padding: 8px;
    vertical-align: top;
}


.table-content > table > tbody > tr.checked{
    color: #A8A8A8;
}
